.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: background-color 0.5s ease;
    background: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.header.sticky {
    background-color: rgb(240, 240, 240); 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.link{
    display: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    font-size: 0.85rem;
    font-weight: 400;
    color: #fff;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #fff;
}

.link-btn {
    background-color: white;
    color: black;
    padding: 1rem 2.1rem;
    transition: all 0.3s ease-in-out;
}

.link-btn:hover{
    background: linear-gradient(to right, #223edd, #1a24af, rgb(139, 14, 241));
    color: white;
}

.sticky {
    background: linear-gradient(to right, rgb(57, 49, 175), rgb(73, 61, 248), rgb(45, 136, 136));
    z-index: 999;
    transition: all 0.3s ease-in-out;
    color: white;
    backdrop-filter: blur(1px);
}

@media(max-width:1024px) {
    .nav-logo {
        font-size: 1.8rem;
    }

    .nav-link {
        font-size: 0.75rem;
    }

    .link-btn {
        padding: 0.7rem 1.6rem;
    }

    .nav-item {
        margin-left: 1.4rem;
    }
}

@media(max-width:991px) {
    .btn {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        background-color: rgb(57, 49, 175);
    }

    .link{
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgb(57, 49, 175);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: #fff;
        font-size: 1.2rem;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* fixed icons */
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.controls .control {
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(57, 49, 175);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    transition: all 0.3s ease-in-out;
}

.controls .control:hover {
    transform: translateY(-10px);
}

.controls .control i {
    font-size: 1.5rem;
    pointer-events: none;
    color: white;
}

@media(max-width: 1024px) {
    .controls .control {
        width: 45px;
        height: 45px;
    }

    .controls .control i {
        font-size: 1.2rem;
    }
}

/* scroll to top btn */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgb(57, 49, 175);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 999;
}

#scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

/* swiper */
.swiper-container {
    width: 100%;
    height: 80vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.slide-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.swiper-pagination-bullet {
    background: rgb(57, 49, 175);
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(57, 49, 175);
}

@media(max-width: 1024px) {
    .slide-content h1 {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
}

@media(max-width: 840px) {
    .slide-content h1 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}

@media(max-width: 768px) {
    .slide-content h1 {
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

@media(max-width: 540px) {
    .slide-content h1 {
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

@media(max-width: 400px) {
    .slide-content h1 {
        font-size: 0.85rem;
        margin-bottom: 10px;
    }
}

/* service */
.service {
    margin-top: 5rem;
    padding: 1rem 10rem;
}

.service_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
}

.service_list div {
    text-align: center;
}

.service_list i {
    font-size: 3.4rem;
    color: rgb(57, 49, 175);
    cursor: pointer;
}

.service_list p {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

@media(max-width:1280px) {
    .service_list i {
        font-size: 2.8rem;
    }

    .service_list p {
        font-size: 1.05rem;
    }
}

@media(max-width:1024px) {
    .service_list i {
        font-size: 2rem;
    }

    .service_list p {
        font-size: 0.9rem;
    }

    .service_list {
        gap: 3rem;
    }
}

@media(max-width: 991px) {
    .service_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 768px) {
    .service_list {
        grid-template-columns: 1fr 1fr;
    }

    .service {
        padding: 1rem;
    }
}

@media(max-width: 576px) {
    .service_list {
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .service {
        padding: 0.5rem;
    }

    .service_list i {
        font-size: 3rem;
    }

    .service_list p {
        font-size: 1.2rem;
    }
}

@media(max-width: 414px) {
    .service_list {
        text-align: center;
    }

    .service_list i {
        font-size: 4rem;
    }
}

@media(max-width: 375px) {
    .service_list i {
        font-size: 3rem;
    }

    .service_list {
        text-align: center;
    }

    .service_list {
        gap: 2rem;
        margin: 0 auto;
        padding: 0;
    }
}

/* completed projects */
.completed-projects{
    margin-top: 5rem;
    background-color: #777171;
    color: white;
}

.completed-project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
    text-align: center;
}

.completed-project p{
    font-size: 3rem;
}

.completed-project h1{
    font-size: 1.5rem;
    margin-top: 2rem;
}

@media(max-width: 1280px){
    .completed-project p{
        font-size: 2.2rem;
    }

    .completed-project h1{
        font-size: 1.2rem;
    }
}

@media(max-width: 1024px){
    .completed-project{
        padding: 2rem 5rem;
    }

    .completed-project p{
        font-size: 1.8rem;
    }

    .completed-project h1{
        font-size: 1rem;
    }
}

@media(max-width: 768px){
    .completed-project{
        padding: 2rem 2rem;
    }

    .completed-project h1{
        font-size: 0.9rem;
    }

    .completed-project p{
        font-size: 1.5rem;
    }
}

@media(max-width: 540px){
    .completed-project{
        padding: 2rem 1rem;
    }

    .completed-project h1{
        margin-top: 1rem;
        font-size: 0.7rem;
    }
}

@media(max-width: 414px){
    .completed-project{
        flex-direction: column;
        gap: 2.5rem;
    }

    .completed-project h1{
        font-size: 1.2rem;
    }
}

/* options */
.options {
    margin-top: 1rem;
    padding: 1rem 10rem;
}

.options .option-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    text-align: center;
}

.option-list .card {
    box-shadow: 0 0 25px #E2E8F0;
    padding: 3rem;
}

.option-list .card h1 {
    font-size: 2.4rem;
}

.option-list .card h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.option-list .card ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.option-list .card .card_list {
    margin-top: 2.4rem;
}

.option-list .card button {
    margin-top: 2rem;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    outline: 0;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    font-size: 0.9rem;
    border-radius: 0.3rem;
}

.option-list .card:nth-of-type(2) button {
    background-color: rgb(70, 64, 146);
    color: white;
}

.option-list .card:nth-of-type(2) button:hover {
    background-color: rgb(57, 49, 175);
    color: white;
}

.option-list .card button:hover {
    background-color: rgb(57, 49, 175);
    color: #fff;
}

.options hr{
    margin: 2rem 10rem;
}

@media(max-width: 1280px){
    .options{
        padding: 1rem 4rem;
    }
}

@media(max-width: 1024px) {
    .options {
        padding: 1rem 2rem;
    }

    .option-list .card h1 {
        font-size: 1.8rem;
    }

    .option-list .card {
        padding: 2rem;
    }
}

@media(max-width: 991px) {
    .options .option-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        text-align: center;
    }
}

@media(max-width: 676px) {
    .options .option-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;
    }
}

/* my services */
.my-service{
    margin-top: 5rem;
    padding: 1rem 10rem;
    color: white;
}

.service-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

.service-card{
    padding: 4rem;
    background-color: rgb(57, 49, 175);
}

.service-card:nth-of-type(2){
    background-color: rgb(36, 28, 145);
}

.service-card h2{
    text-align: right;
    font-size: 3rem;
}

.service-card div{
    text-align: center;
}

.service-card div i{
    margin-top: 2rem;
    font-size: 3rem;
    cursor: pointer;
}

.service-card h1{
    margin-top: 2rem;
    font-size: 2rem;
}

.service-card p{
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
}

@media(max-width: 1280px){
    .my-service{
        padding: 1rem 2rem;
    }

    .service-cards{
        gap: 2rem;
    }

    .service-card{
        padding: 2rem;
    }

    .service-card h2{
        font-size: 2rem;
    }

    .service-card div i{
        font-size: 2rem;
    }

    .service-card h1{
        font-size: 1.5rem;
    }

    .service-card p{
        font-size: 0.8rem;
    }
}

@media(max-width: 1024px){
    .service-card p{
        font-size: 0.7rem;
    }

    .service-card h2{
        font-size: 1.8rem;
    }

    .service-card div i{
        font-size: 1.8rem;
    }

    .service-card h1{
        font-size: 1.3rem;
    }
}

@media(max-width: 991px){
    .service-cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 540px){
    .service-cards{
        grid-template-columns: 1fr;
    }
}

/* calculator */
.calculator {
    background-color: #2e2d2d;
    color: white;
    width: 100%;
    text-align: start;
    padding: 1rem 10%;
    margin-top: 5rem;
}

.calculator h1 {
    font-size: 3rem;
}

.calculator .display {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator .display div h2 {
    font-size: 2rem;
}

.calculator .display div input {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    outline: 0;
    border-radius: 4px;
}

.calculator .display div p {
    margin-top: 0.6rem;
}

.calculator .calculate {
    margin-top: 2rem;
}

.calculator .calculate button {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
    outline: 0;
}

@media(max-width: 1280px){
    .calculator h1{
        font-size: 2rem;
    }

    .calculator .display div h2{
        font-size: 1.2rem;
    }
}

@media(max-width: 912px) {
    .calculator .display {
        flex-direction: column;
        align-items: start;
    }

    .calculator h1 {
        font-size: 1.8rem;
    }

    .calculator .display div h2 {
        font-size: 1.4rem;
        margin-top: 1rem;
    }
}

@media(max-width: 676px) {
    .calculator h1 {
        font-size: 1.6rem;
    }

    .calculator .display div h2 {
        font-size: 1.2rem;
    }
}

/* projects */
.project{
    margin-top: 5rem;
    padding: 1rem 10rem;
}

.projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5rem;
    color: white;
}

.project-card{
    background-color: rgb(57, 49, 175);
    padding: 3rem;
    text-align: center;
    border-radius: 8px; 
    transition: transform 0.3s ease; 
}

.project-card:hover {
    transform: translateY(-10px); 
}

.project-card img{
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
}

.project-card p{
    margin-top: 2rem;
    font-size: 0.95rem;
    line-height: 1.6;
    color: #f5f5f5; /
}

@media(max-width: 1280px){
    .projects{
        grid-template-columns: repeat(2, 1fr); 
        gap: 3rem;
    }

    .project{
        padding: 1rem 5rem;
    }

    .project-card{
        padding: 2rem;
    }

    .project-card img{
        width: 100%; 
    }

    .project-card p{
        font-size: 0.9rem;
    }
}

@media(max-width: 768px){
    .projects{
        grid-template-columns: 1fr; 
        gap: 2rem;
    }

    .project{
        padding: 1rem 2rem; 
    }

    .project-card{
        padding: 1.5rem;
    }

    .project-card img{
        width: 100%;
    }

    .project-card p{
        font-size: 0.85rem;
    }
}

@media(max-width: 480px){
    .projects{
        padding: 0 1rem;
    }

    .project-card{
        padding: 1rem;
    }

    .project-card p{
        font-size: 0.8rem;
    }
}

/* partners */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: rgb(36, 28, 145);
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    /*background: linear-gradient(to left, rgba(255, 255, 255, 0), white);*/
  }
  
  .logos:after {
    right: 0;
    /*background: linear-gradient(to right, rgba(255, 255, 255, 0), white);*/
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }

/* footer text */
.footer{
    text-align: center;
    background-color: #000300;
    color: white;
    padding: 2rem;
}

@media(max-width: 1024px){
    .footer div p{
        font-size: 0.85rem;
    }
}

@media(max-width: 540px){
    .footer div p{
        font-size: 0.7rem;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(57, 49, 175);
}