<div>
    <h1>სერვისების კალკულატორი</h1>
</div>
<div class="display">
    <div>
        <h2>კომპიუტერები</h2>
        <input type="number" class="inp-num" id="computers" placeholder="რაოდენობა">
        <p id="comp-price"></p>
    </div>
    <div>
        <h2>პრინტერები</h2>
        <input type="number" class="inp-num" id="printers" placeholder="რაოდენობა">
        <p id="print-price"></p>
    </div>
    <div>
        <h2>სერვერები</h2>
        <input type="number" class="inp-num" id="servers" placeholder="რაოდენობა">
        <p id="server-price"></p>
    </div>
</div>
<div class="calculate">
    <button type="button" onclick="calculatePrice()">გამოთვალე</button>
    <div class="result">
        <h3 id="total-price">0 დოლარი</h3>
    </div>
</div>