<div class="service-cards">
  <div class="service-card">
    <h2>01.</h2>
    <hr />
    <div>
      <i class="fa-solid fa-list"></i>
      <h1>IT აუთსორსინგი</h1>
    </div>
    <p>
      IT აუთსორსინგი არის ტექნოლოგიური რესურსებისა და სერვისების გარე
      პარტნიორებისგან მიღების პროცესი, რაც კომპანიას საშუალებას აძლევს,
      ფოკუსირდეს ძირითად საქმიანობაზე, შეამციროს ხარჯები და გაზარდოს მოქნილობა.
    </p>
  </div>
  <div class="service-card">
    <h2>02.</h2>
    <hr />
    <div>
      <i class="fa-solid fa-desktop"></i>
      <h1>საიტების დამზადება</h1>
    </div>
    <p>
      საიტების დამზადება გულისხმობს კომპანიის ონლაინ იდენტობის შექმნას და
      განვითარებას, რაც ხელს უწყობს ბრენდის ცნობადობის გაზრდას, მომხმარებელთა
      მოზიდვას და კონკურენტულობის გაძლიერებას.
    </p>
  </div>
  <div class="service-card">
    <h2>03.</h2>
    <hr />
    <div>
      <i class="fa-solid fa-chart-bar"></i>
      <h1>SEO ოპტიმიზაცია</h1>
    </div>
    <p>
      SEO ოპტიმიზაცია გულისხმობს ვებგვერდის გაუმჯობესებას საძიებო სისტემებში
      უკეთესი პოზიციების მოსაპოვებლად, რაც ზრდის მისი ნახვების რაოდენობას და
      მომხმარებელთა ჩართულობას.
    </p>
  </div>
</div>
