<nav class="navbar">
    <a href="#" class="nav-logo">Clicks.ge</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="#" class="nav-link">მთავარი</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">ჩვენს შესახებ</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">პროექტები</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">სერვისები</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">პროდუქტები</a>
        </li>
        <li class="nav-item link">
            <a href="#" class="nav-link">კონტაქტები</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">En</a>
        </li>
    </ul>
    <div class="btn">
        <li class="nav-item item-btn">
            <a href="#" class="nav-link link-btn">კონტაქტები</a>
        </li>
    </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>