<div class="option-list">
  <div class="card">
    <h1>500 + ლარი</h1>
    <h2>მინი ვებ გვერდი</h2>
    <div class="card_list">
      <ul>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>1-5 გვერდი</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>ორი ენა</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>საკონტაქტო ფორმა</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>მობილური ვერსია</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>google maps</p>
        </li>
      </ul>
    </div>
    <button>შეუკვეთე</button>
  </div>

  <div class="card">
    <h1>995 + ლარი</h1>
    <h2>ბიზნეს ვებ გვერდი</h2>
    <div class="card_list">
      <ul>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>5-10 გვერდი</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>სამი ენა</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>messenger ჩატი</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>ყველა ვერსია</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>google maps</p>
        </li>
      </ul>
    </div>
    <button>შეუკვეთე</button>
  </div>

  <div class="card">
    <h1>1500 + ლარი</h1>
    <h2>მორგებული გვერდი</h2>
    <div class="card_list">
      <ul>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>10+ გვერდი</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>სამი ენა</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Single Page Application</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>SEO ოპტიმიზაცია</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>პინის დასმა</p>
        </li>
      </ul>
    </div>
    <button>შეუკვეთე</button>
  </div>
</div>
