<div class="projects">
    <div class="project-card">
        <img src="./assets/card1.jpg" alt="ვიდეო კამერები">
        <p>ვიდეო კამერები გამოიყენება უსაფრთხოების, მონიტორინგისა და ვიზუალური ჩანაწერების შესაქმნელად. თანამედროვე კამერების საშუალებით შესაძლებელია მაღალი ხარისხის გამოსახულების მიღება, რეალურ დროში მონიტორინგი და ჩანაწერების შენახვა.</p>
    </div>
    <div class="project-card">
        <img src="./assets/card2.jpg" alt="ანტივირუსი">
        <p>ანტივირუსი იცავს კომპიუტერულ სისტემებს ვირუსების, მავნე პროგრამების და კიბერშეტევებისგან. მისი საშუალებით ხდება სისტემის სკანირება, მავნე კოდის ამოცნობა და მათგან დაცვა, რაც უზრუნველყოფს მონაცემების უსაფრთხოებას და მოწყობილობის გამართულ მუშაობას.</p>
    </div>
    <div class="project-card">
        <img src="./assets/card3.jpg" alt="IT აუთსორსინგის უპირატესობები">
        <p>IT აუთსორსინგი საშუალებას იძლევა კომპანიებს თავიანთი რესურსები უფრო ეფექტურად მართონ. გარე პარტნიორებთან თანამშრომლობა უზრუნველყოფს მაღალი ხარისხის ტექნოლოგიურ მომსახურებას, აჩქარებს პროცესებს და ხარჯებს ამცირებს.</p>
    </div>
    <div class="project-card">
        <img src="./assets/card4.jpg" alt="Office 365">
        <p>Office 365 არის Microsoft-ის გამოწერის მომსახურება, რომელიც აერთიანებს სხვადასხვა ოფის აპლიკაციებს, როგორიცაა Word, Excel, PowerPoint, Outlook და OneDrive. ის უზრუნველყოფს ციფრულ პროდუქტებს და სერვისებს, რაც საშუალებას აძლევს მომხმარებლებს კოლაბორაციისა და სამუშაოების უფრო მოქნილად შესრულებას.</p>
    </div>
</div>