<div class="service_list">
    <div>
        <i class="fa-solid fa-desktop"></i>
        <p>ტექნიკური სერვისი</p>
    </div>
    <div>
        <i class="fa-solid fa-wifi"></i>
        <p>ქსელები</p>
    </div>
    <div>
        <i class="fa-solid fa-list"></i>
        <p>სერვერები</p>
    </div>
    <div>
        <i class="fa-solid fa-phone"></i>
        <p>IP ტელეფონი</p>
    </div>
    <div>
        <i class="fa-solid fa-barcode"></i>
        <p>პროგრამული სერვისი</p>
    </div>
    <div>
        <i class="fa-solid fa-mobile-screen"></i>
        <p>სმარტფონების სერვისი</p>
    </div>
    <div>
        <i class="fa-solid fa-video"></i>
        <p>კამერები სისტემები</p>
    </div>
    <div>
        <i class="fa-solid fa-cloud"></i>
        <p>ვირტუალური სერვერები</p>
    </div>
</div>